# Environment Configuration
NODE_ENV=development
PORT=8080

# CORS Configuration (comma-separated origins)
CORS_ORIGIN=https://my-new-portfolio-gold.vercel.app,http://localhost:3000,http://localhost:5173

# Resend & Gmail Configuration
EMAIL_USER=abdulhanan.microsoft@gmail.com
EMAIL_PASS=qakbknyemxslhvxa
ADMIN_EMAIL=abdulhanan.microsoft@gmail.com
SENDER_EMAIL=abdulhanan.microsoft@gmail.com
